/* variables */
:root {
  --main-bg-color-1: #204543;
  --main-bg-color-2: #012725;
  --primary-color: #00FFD1;
  --secondary-color: #FF8A00;
  --tertiary-color: #BED3D8;
  --darkgray: #909090;
  --tile-color: #20454382;
  --tile-hover-color: #20454339;
  --header-line-color: #00FFD023;
  --content-width: 80%;
  --hero-image-size: 180px;
  --header-margin: 150px;
  --border-radius: 15px;
}

/* ------------------------ LAYOUT ------------------------ */

.App {
  text-align: left;
  min-height: 100vh;
  color: var(--tertiary-color);
}

nav a {
  color: var(--primary-color);
}

ul {
  list-style-type: none;
  /* Remove bullets */
}

div.content {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

header {
  margin-top: var(--header-margin);
  margin-bottom: var(--header-margin);
}

/* Section components */

section {
  width: 100%;
  margin-bottom: var(--header-margin);
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--tertiary-color);
  padding: 20px 0;
  margin-bottom: 3.0rem;
}

.section-header-title {
  margin: 0 10px;
  flex-shrink: 0;
  text-align: center;
  font-size: 1.5rem;
  white-space: nowrap;
  text-transform: uppercase;
}

.section-header-line {
  flex-grow: 1;
  border-radius: 2px;
  height: 2.5px;
  background-color: var(--header-line-color);
}

/* ------------------------ TEXT STYLES ------------------------ */

h1 {
  font-size: 3rem;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

h2.section-header-title {
  font-size: 2rem;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

/* -------------------------- HERO ------------------------- */

.hero-header {
  display: flex;
  align-items: center;
}

.hero-greeting {
  margin-bottom: 1.5rem;
}

.hero-name {
  font-size: 4rem;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

.hero-headline {
  font-size: 4rem;
  margin-bottom: 1.5rem;
}

.hero-description {
  width: 75%;
}

div.hero-image {
  width: var(--hero-image-size);
  height: var(--hero-image-size);
  margin: auto;
}

.hero-image>img {
  width: var(--hero-image-size);
  height: var(--hero-image-size);
  border-radius: calc(var(--hero-image-size) / 2);
  object-fit: contain;
}

/* ------------------------ EXPERIENCE ------------------------ */

.job-container {
  margin-bottom: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job-header-tile {
  width: 80%;
  padding: 1.0rem;
  background-color: var(--tile-color);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.job-header-tile:hover {
  background-color: var(--tile-hover-color);
}

.job-content-tile {
  width: 80%;
  margin-top: 0.3rem;
  padding: 1.0rem;
  background-color: var(--tile-color);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.job-title {
  font-size: 1.5rem;
  color: var(--primary-color);
  display: inline-block;
  user-select: none;
}

.job-role {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color);
  display: inline-block;
}

.job-company {
  font-size: 1.5rem;
  color: var(--tertiary-color);
  display: inline-block;
}

.job-date {
  font-family: "Fira Code";
  color: var(--darkgray);
  user-select: none;
}

.job-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.job-details {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 3.0rem;
  margin-bottom: 1.0rem;
}

.job-location, .job-url {
  display: flex;
  align-items: center;
  font-family: "Fira Code";
  color: var(--darkgray);
}

.job-url>a {
  color: var(--darkgray);
  text-decoration: none;
  color: inherit;
}

.job-url>a:hover {
  color: var(--darkgray);
  text-decoration: underline;
}

.job-location-icon, .job-url-icon {
  width: auto;
  height: 100%;
  margin: auto;
  margin-left: 0;
  margin-right: 0.5rem;
}

.job-location-icon>svg, .job-url-icon>svg {
  height: 100%;
  color: var(--primary-color)
}

.job-contributions {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.job-contribution {
  margin-bottom: 0.3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.job-contribution-text {
  display: inline-block;
}

.job-contribution-bullet-wrapper {
  display: inline-block;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

/* ------------------------ TESTIMONIALS ------------------------ */

.testimonial-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.testimonial-wrapper {
  /* border: 1px solid white; */
  width: calc(33% - 10px);
  height: 270px;
  display: flex;
  flex-direction: row;
  position: relative;
  /* box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2); */
}

img.testimonial-image {
  border: 3px solid var(--header-line-color);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: contain;
  position: absolute;
  top: 0px;
  z-index: 1;
  left: calc(50% - 50px);
}

blockquote {
  font-size: 0.8rem;
  font-style: italic;
  text-align: left;
  margin: 0.5rem;
}

.testimonial-item {
  width: auto;
  padding: 10px;
  padding-top: calc(10px + 100px / 2);
  background-color: var(--tile-color);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: absolute;
  top: 50px;
  bottom: 10px;
  z-index: 0;
}

h4.testimonial-name {
  font-size: 1.0rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: 0.5rem;
}

h5.testimonial-role {
  font-size: 0.8rem;
  margin: 0;
  margin-bottom: 1.5rem;
}

/* ------------------------ CONTACT ------------------------ */

.contact-list {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-weight: bold;
}

a.contact-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

a.contact-item:hover {
  color: inherit;
  text-decoration: underline;
}

.contact-item>svg {
  margin-right: 0.5rem;
  color: var(--primary-color);
}
