/* variables */
:root {
  --primary-color: #00FFD1;
  --secondary-color: #00FFD1;
  --tertiary-color: #c9e2e8;
  --darkgray: #909090;
  /* --color-mode: black;
  --main-background-color: color-mix(in srgb, var(--primary-color) 10%, var(--color-mode));
  --tile-color-1: color-mix(in srgb, var(--primary-color) 18%, var(--color-mode));
  --tile-color-2: color-mix(in srgb, var(--primary-color) 10%, var(--color-mode)); */
  --main-background-color: rgb(20, 20, 20);
  --tile-color-1: rgb(28, 28, 28);
  --tile-color-2: var(--main-background-color);
  --header-line-color: rgb(32, 32, 32);
  --content-width: 80%;
  --hero-image-size: 180px;
  --header-margin: 150px;
  --border-radius: 10px;
  --code-font: "Fira Code";
  --main-width: 960px;
  --tile-gap: 10px;
  /* --main-bg-color-1: #024a45; */
  /* --main-bg-color-2: #012725; */
  /* --tile-color: #024a45; */
}

/* ------------------------ LAYOUT ------------------------ */

.App {
  text-align: left;
  min-height: 100vh;
  color: var(--tertiary-color);
}

ul {
  list-style-type: none;
}

header {
  margin-top: var(--header-margin);
  margin-bottom: var(--header-margin);
}

main {
  width: var(--main-width);
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

section {
  width: 100%;
  margin-bottom: var(--header-margin);
}

div.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--tertiary-color);
  padding: 20px 0;
  margin-bottom: 3.0rem;
}

div.section-header-line {
  flex-grow: 1;
  border-radius: 2px;
  height: 2.5px;
  background-color: var(--header-line-color);
}

/* ------------------------ TEXT STYLES ------------------------ */

h1 {
  font-size: 4.0rem;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-size: 2.5rem;
}

h2.section-header-text {
  font-size: 2.5rem;
  margin: 0 10px;
  flex-shrink: 0;
  text-align: center;
  white-space: nowrap;
  counter-increment: section;
  text-transform: uppercase;
}

h2.section-header-text::before {
  content: counter(section, decimal-leading-zero) ".";
  font-family: var(--code-font);
  color: var(--primary-color);
}

h3 {
  font-size: 1.5rem;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1.0rem;
  margin-bottom: 0.5rem;
}


/* ------------------------- NAV BAR ----------------------- */
nav {
  display: flex;
  position: fixed;
  padding: 0.5rem;
  top: 0;
  z-index: 9999;
  width: 100%;
  background-color: var(--main-background-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-logo>a:hover {
  transform: scale(1.0);
  transition: ease-in-out 0.2s;
}

.nav-logo>a:not(:hover) {
  transform: scale(0.9);
  transition: ease-in-out 0.2s;
}

.nav-links {
  display: flex;
  align-items: center;
  width: calc(100% - 100px);
  justify-content: right;
}

.nav-links-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.nav-item-index {
  color: var(--primary-color);
  margin-right: 0.1rem;
  font-size: 0.9rem;
  font-family: var(--code-font);
}

nav a {
  color: var(--tertiary-color);
  font-size: 0.9rem;
  font-family: var(--code-font);
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

/* -------------------------- HERO ------------------------- */

.hero-header {
  display: flex;
  align-items: center;
}

.hero-greeting {
  margin-bottom: 1.0rem;
}

.hero-name {
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

.hero-headline {
  margin-top: 0;
  margin-bottom: 0;
}

.hero-description {
  text-align: justify;
}

div.hero-image {
  width: var(--hero-image-size);
  height: var(--hero-image-size);
  margin: auto;
}

.hero-image>img {
  width: var(--hero-image-size);
  height: var(--hero-image-size);
  object-fit: contain;
}

.hero-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* -------------------------- Buttons -------------------------- */

button {
  font-family: var(--code-font);
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--main-background-color);
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  padding: 0.5rem 1.0rem 0.5rem 1.0rem;
  margin-top: 1.0rem;
  margin-bottom: 1.0rem;
  margin-right: 1.0rem;
  cursor: pointer;
}

button:hover {
  transform: translate(-2px, -2px);
  transition: ease-in-out 0.2s;
}

button:not(:hover) {
  transform: translate(0, 0);
  transition: ease-in-out 0.2s;
}

button.btn-resume :nth-child(2) {
  margin-left: 0.5rem;
}

button.btn-about {
  background-color: transparent;
  color: var(--primary-color);
}

button.btn-about :nth-child(2) {
  margin-left: 0.5rem;
}

button.btn-audio {
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid transparent;
}

button.btn-audio svg {
  height: 42px;
  width: 42px;
}

button.btn-audio:hover {
  transform: scale(1.25);
}

button.btn-audio:not(:hover) {
  transform: scale(1.0);
}

button a {
  color: inherit;
  text-decoration: none;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tile {
  background-image: linear-gradient(to bottom right, var(--tile-color-1), var(--tile-color-2));
  border: 1px solid var(--header-line-color);
  border-radius: var(--border-radius);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

/* ------------------------ SERVICES ------------------------ */

.service-tile {
  width: 280px;
  position: relative;
  padding: 20px;

  /* Ensures the content scales with the tile */
  overflow: hidden;
  text-overflow: ellipsis;
}

.tiles-grid {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: var(--tile-gap);
  justify-content: center;
  align-items: center;
}

.tiles-grid.three-tiles> :nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: center;
  max-width: calc(50% - var(--tile-gap));
  /* Assuming grid-gap is 10px, adjust if different */
}

.service-header {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}

.service-description {
  margin-top: 0.5rem;
  margin-bottom: 1.0rem;
}

.service-icon {
  width: auto;
  height: 100%;
  margin: auto;
  margin-left: 0;
  margin-right: 0.5rem;
  color: var(--tertiary-color);
}

.service-icon>svg {
  color: var(--primary-color);
  width: 100%;
  height: 100%;
  margin-top: 0.35rem;  /* TODO: quick & dirty fix */
}

.tech-tag-container {
  left: calc(20px - 0.5rem);
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tech-tag {
  display: inline-block;
  font-family: var(--code-font);
  font-size: 0.8rem;
  font-weight: bold;
  height: auto;
  padding: 0.25rem 1.0rem 0.25rem 1.0rem;
  border-radius: 1.5rem;
  border: 1px solid var(--tertiary-color);
  color: var(--secondary-color);
  background-color: var(--tile-color-1);
}

/* ------------------------ PROJECTS ------------------------ */

.project-container {
  width: 100%;
  margin-bottom: 1.0rem;
}
  
.project-header {
  margin-bottom: 0.25rem;
  font-weight: bold;
}

.project-header-anchor {
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  text-decoration: none;
  gap: 0.5rem;
}

.project-header-anchor>span {
  color: var(--tertiary-color);
}

.project-header-anchor>svg {
  color: var(--primary-color);
}

.project-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: none;
}

.project-content p {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: justify;
  padding-left: 1.0rem;
}

.project-image {
  width: 50%;
  height: auto;
  object-fit: contain;
  border-radius: var(--border-radius);
}

.project-image:not(:hover) {
  filter: grayscale(100%);
}

.project-image:hover {
  filter: none;
}

/* ------------------------ EXPERIENCE ------------------------ */

.job-container {
  margin-bottom: var(--tile-gap);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job-header-tile {
  width: 100%;
  padding: 0.5rem 0;
}

.job-header-tile:hover .job-dropdown-arrow {
  transform: scale(1.5);
  transition: ease-in 0.2s;
}

.job-header-tile:not(:hover) .job-dropdown-arrow {
  transform: scale(1.0);
  transition: ease-in 0.2s;
}

.job-content-tile {
  margin-top: var(--tile-gap);
  padding: 1.0rem 0;
}

.job-title {
  font-size: 1.5rem;
  display: flex;
  user-select: none;
  gap: 0.5rem;
}

.job-dropdown-arrow {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  color: var(--primary-color);
}

.job-role {
  font-weight: bold;
  color: var(--primary-color);
  display: inline-block;
}

.job-at {
  color: var(--darkgray);
}

.job-company {
  color: var(--tertiary-color);
}

.job-date {
  font-size: 0.9rem;
  font-family: var(--code-font);
  color: var(--darkgray);
  user-select: none;
}

.job-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.job-details {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 3.0rem;
  margin-bottom: 1.0rem;
}

.job-location, .job-url {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.5rem;
  font-family: var(--code-font);
  color: var(--darkgray);
  text-decoration: none;
}

.job-url:hover {
  text-decoration: underline;
}

.job-location>svg,
.job-url>svg {
  color: var(--primary-color);
}

.job-project-name {
  font-weight: bold;
  color: var(--primary-color);
}

.job-contributions {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
}

.job-content {
  padding: 0 1.0rem;
}

.tech-tag-container {
  margin-top: 1.0rem;
}

.job-contribution {
  margin-bottom: 0.3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.job-contribution-text {
  display: inline-block;
}

.job-contribution-bullet-wrapper {
  display: inline-block;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

/* ------------------------ TESTIMONIALS ------------------------ */

.testimonial-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--tile-gap);
}

.testimonial-wrapper {
  width: calc(33% - var(--tile-gap));
  height: 280px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.testimonial-wrapper:hover {
  transform: scale(1.05);
  transition: ease-in-out 0.2s;
}

.testimonial-wrapper:not(:hover) {
  transform: scale(1.00);
  transition: ease-in-out 0.2s;
}

.testimonial-wrapper:hover > img {
  filter: none;
  transition: ease-in-out 0.2s;
}

.testimonial-wrapper:not(:hover) > img {
  filter: grayscale(100%);
  transition: ease-in-out 0.2s;
}

.testimonial-image {
  border: 3px solid var(--header-line-color);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: contain;
  position: absolute;
  top: -3px;
  z-index: 1;
  left: calc(50% - 50px);
}

blockquote {
  font-size: 0.8rem;
  text-align: left;
  margin: 0.8rem;
  margin-top: 0;
}

.testimonial-tile {
  width: auto;
  padding: 10px;
  padding-top: calc(10px + 100px / 2);
  position: absolute;
  top: 50px;
  bottom: 10px;
  z-index: 0;
}

.testimonial-reference {
  margin: 0.5rem 0.8rem;
}

h5.testimonial-name {
  font-weight: bold;
  margin: 0;
  margin-bottom: 0.5rem;
}

h5.testimonial-role {
  margin: 0;
}

/* ------------------------ CONTACT ------------------------ */

.contact-list {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-weight: bold;
  margin: 0 10rem 0 10rem;
}

a.contact-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

a.contact-item:hover {
  color: inherit;
  transform: scale(1.1);
  transition: ease-in-out 0.2s;
}

a.contact-item:not(:hover) {
  transform: scale(1.0);
  transition: ease-in-out 0.2s;
}

.contact-item>svg {
  margin-right: 0.5rem;
  color: var(--primary-color);
}

.contact-cta {
  text-align: center;
  margin-top: 1.0rem;
  margin-bottom: 5.0rem;
  font-size: 1.5rem;
}

.contact-cta h2 {
  margin: 0;
  margin-bottom: 0.5rem;
}

/* ------------------------ STACK ------------------------ */

.tech-stack-grid {
  display: grid;
  width: 62.5%;
  padding-left: 18.75%;
  padding-right: 18.75%;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--tile-gap);
  margin-bottom: var(--tile-gap);
}

.tech-stack-cell {
  position: relative;
  width: calc(var(--main-width) / 8 - var(--tile-gap));
  height: calc(var(--main-width) / 8 - var(--tile-gap));
  border: 1px solid var(--header-line-color);
}

.tech-stack-cell-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.tech-stack-icon {
  font-size: 32px;
  object-fit: contain;
  border-radius: var(--border-radius);
  color: var(--primary-color);
}

.tech-stack-name {
  font-size: 13px;
  font-weight: bold;
  font-family: var(--code-font);
  color: var(--tertiary-color);
}

.tech-stack-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.0rem;
}

.btn-show-all-stack {
  display: flex;
  background-color: transparent;
  color: var(--tertiary-color);
  border-color: var(--tertiary-color);
}

.btn-show-all-stack:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-show-all-stack:active {
  transform: translate(0px, 0px);
  transition: ease-in-out 0.2s;
}

.show-all-stack-arrow {
  font-size: 1.0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  color: inherit;
}

/* ------------------------ FOOTER ------------------------ */

footer {
  margin-top: 5%;
  margin-bottom: 2.5%;
  text-align: center;
}

footer p {
  margin: 0;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  font-family: var(--code-font);
}

footer a {
  color: var(--darkgray);
  text-decoration: none;
}

footer a:hover {
  color: var(--primary-color);
  text-decoration: none;
  transition: ease-in-out 0.2s;
}

.accordion-item {
  width: 100%;
  /* padding: 1.0rem; */
}

.accordion-content {
  width: 100%;
  transition: max-height 0.3s ease;
}