/* variables */
:root {
  --main-bg-color-1: #204543;
  --main-bg-color-2: #0E2F29;
  --primary-color: #00FFD1;
  --secondary-color: #FF8A00;
  --third-color: #BED3D8;
}

.App {
  text-align: left;
  background-image: linear-gradient(to bottom right, var(--main-bg-color-1), var(--main-bg-color-2));
  min-height: 100vh;
  color: var(--third-color);
}

header {
  margin-top: 150px;
  margin-bottom: 150px;
}

p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.hero-greeting {
  margin-bottom: 1.5rem;
}

.hero-name {
  font-size: 4rem;
  font-weight: bold;
  color: var(--primary-color);
  /* background: -webkit-linear-gradient(var(--primary-color), var(--third-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  margin-bottom: 0.5rem;
}

.hero-headline {
  font-size: 4rem;
  margin-bottom: 1.5rem;
}

.hero-description {
  width: 75%;
}

h1 {
  font-size: 3rem;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  text-align: left;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--third-color);
  padding: 20px 0;
}

.section-header-title {
  margin: 0 10px;
  flex-shrink: 0;
  text-align: center;
  font-size: 1.5rem;
  white-space: nowrap;
  text-transform: uppercase;
}

.section-header-line {
  flex-grow: 1;
  border-radius: 2px;
  height: 4px;
  background-color: #00ffd023;
}

nav a {
  color: var(--primary-color);
}

div.content {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

section {
  width: 100%;
  margin-bottom: 25px;
}

ul {
  list-style-type: none; /* Remove bullets */
}