html {
  background-color: var(--main-background-color);
}

body {
  margin: 0;
  position: absolute;
  width: 100%;
  top: 0;
  line-height: 1.5;
  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  counter-reset: section;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
